<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambia password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form container">
    <p class="title text-center">Cambia password</p>
    <label>
      <input class="input" type="password" placeholder="" required="" [(ngModel)]="oldPassword">
      <span>Vecchia password
      </span>
    </label>

    <label>
      <input class="input" type="password" placeholder="" required="" [(ngModel)]="newPassword">
      <span>Nuova password</span>
    </label>
    <label>
      <input class="input" type="password" placeholder="" required="" [(ngModel)]="confirmPassword">
      <span>Conferma nuova password</span>
    </label>
    <ion-button (click)="changePassword()">Conferma</ion-button>
    
    <hr class="divider">
    
    <ion-button color="secondary" [routerLink]="['/']" >
      <i class="fa fa-home"></i>
    </ion-button>

  </div>
</ion-content>