<loader *ngIf="userService.isLoading"></loader>
<div class="container mt-4">
    <h2 class="text-center">Gestione Utente</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="{{userService.newUser.avatar}}" alt="AVATAR" (click)="openDialog()">
                <br>
                <button class="btn" (click)="userService.generateImageProfile()">
                    <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1"
                        class="sparkle">
                        <path
                            d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z">
                        </path>
                    </svg>
                    <span class="text">Genera immagine</span>
                </button>
            </div>
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Inserisci il nome"
                    [(ngModel)]="userService.newUser.name" required>
            </div>
            <div class="form-group">
                <label for="surname">Cognome:</label>
                <input type="text" name="surname" class="form-control" id="surname" placeholder="Inserisci il cognome"
                    [(ngModel)]="userService.newUser.surname" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Inserisci l'email"
                    [(ngModel)]="userService.newUser.email" required>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="form-group">
                <label for="username">Username (facoltativo):</label>
                <input type="text" name="username" class="form-control" id="username"
                    placeholder="Inserisci lo username" [(ngModel)]="userService.newUser.username">
            </div>
            <div class="form-group">
                <label for="role">Ruolo:</label>
                <select name="role" class="form-control" id="role" [(ngModel)]="userService.newUser.role._id">
                    <option *ngFor="let role of roleService.roles" value="{{role._id}}">{{role.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">Città (facoltativo):</label>
                <input type="text" name="city" class="form-control" id="city" placeholder="Inserisci la città"
                    [(ngModel)]="userService.newUser.city">
            </div>
            <div class="form-group">
                <label for="gender">Genere:</label>
                <select name="gender" class="form-control" id="gender" [(ngModel)]="userService.newUser.gender">
                    <option value="m">Maschio</option>
                    <option value="f">Femmina</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Età:</label>
                <input type="number" name="age" class="form-control" id="age" placeholder="Inserisci l'età"
                    [(ngModel)]="userService.newUser.age" min="18" max="120" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-success d-flex justify-content-center" (click)="submit()" style="width: 100%">Conferma</button>
        </div>
    </div>
</div>