<div class="container text-center p-5">
    <h2>Lista Utenti</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Visualizza dettagli</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userService.users">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td><a [routerLink]="'/user/' + user._id">Dettagli</a></td>
            </tr>
        </tbody>
    </table>
</div>