<div class="container text-center p-4">
    <h2>Lista Utenti</h2>
    <br>

    <!--FILTERS-->
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Cerca utente" [(ngModel)]="searchText" (change)="search()">
                <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search" (click)="search()"></i></button>
            </div>
        </div>
        <div class="col-md-2 input-group-append justify-content-end">
            <select class="form-control" [(ngModel)]="selectedRole" (change)="filterByRole()">
                <option value="all">Tutti</option>
                <option *ngFor="let role of roleService.roles" value="{{role._id}}">{{role.name}}</option>
            </select>
        </div>
    </div>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Ruolo</th>
                <th>Email</th>
                <th>Dettagli</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userService.users">
                <td><img src="{{user.avatar}}" alt="user picture" class="profile-picture"></td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td><a class="btn btn-primary" [routerLink]="'/user/' + user._id">Dettagli</a></td>
                <td><button class="btn btn-danger" (click)="deleteUser(user._id)"><i class="bi bi-trash"></i></button></td>
            </tr>
            <tr *ngIf="!userService.users">
                <td colspan="8" class="text-muted">Nessun utente trovato</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" [routerLink]="['/user/new']">AGGIUNGI UTENTE</a>
</div>