<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perizie" href="/perizie">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Le tue perizie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/user">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>