.container {
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
}

.card {
    background-color: aliceblue;
}

.container p, h2 {
    margin: 8px;
}

.col-md-1 button {
    margin: 8px;
}