<loader *ngIf="userService.isLoading"></loader>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Profilo</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="loginService.logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="userService.currentUser">
    <br>
    <ion-card-title class="ion-text-center"><b>{{ userService.currentUser.username }}</b></ion-card-title>

    <ion-card-header class="ion-align-items-center">
      <ion-avatar>
        <img src="{{ userService.currentUser.avatar }}" alt="Avatar">
      </ion-avatar>
      <generate-button (click)="userService.generateImageProfile()"></generate-button>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [clearInput]="true" type="text" [(ngModel)]="userService.currentUser.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-input [clearInput]="true" type="text" [(ngModel)]="userService.currentUser.surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [clearInput]="true" type="email" [(ngModel)]="userService.currentUser.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Età</ion-label>
        <ion-input [clearInput]="true" type="number" [(ngModel)]="userService.currentUser.age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ruolo</ion-label>
        <ion-input readonly type="text" [(ngModel)]="userService.currentUser.role.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">City</ion-label>
        <ion-input [clearInput]="true" type="text" [(ngModel)]="userService.currentUser.city"></ion-input>
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-label>User created on <b>{{userService.currentUser.createdAt.date}}</b> at
          <b>{{userService.currentUser.createdAt.time}}</b></ion-label>
      </ion-item>
      <ion-button expand="block" color="success"
        (click)="userService.update(userService.currentUser)">Salva</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="text-center p-4">
    <ion-button [routerLink]="['/change-password']">Cambia password</ion-button>
  </div>

</ion-content>