* {
    font-family: 'Poppins', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle !important;
}

::selection {
    background-color: #0a95ff;
    color: #ffffff;
}

td,
th {
    vertical-align: middle !important;
}