* {
    font-family: 'Poppins', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle !important;
}

::selection {
    background-color: #0a95ff;
    color: #ffffff;
}

td,
th {
    vertical-align: middle !important;
}

.deleted {
    text-decoration: line-through;
    color: red;
}

.comment {
    margin: 0px !important
}

hr.divider {
    border: none;
    height: 8px;
    width: 5%;
    border-radius: 10px;
    background-color: #0077cc;
    margin: 30px auto;
}