* {
    font-family: 'Poppins', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle !important;
}

:root {
    --primary-color: #9bd2fc;
    --secondary-color: #005693;
    --divider-height: 8px;
    --divider-width: 10%;
    --divider-border-radius: 10px;
    --divider-background-color: #0077cc;
}

::selection {
    background-color: #e3f3ff;
    color: var(--secondary-color);
}

hr.divider {
    border: none;
    height: var(--divider-height);
    width: var(--divider-width);
    border-radius: var(--divider-border-radius);
    background-color: var(--divider-background-color);
    margin: 30px auto;
}

.deleted {
    text-decoration: line-through;
    color: #ff0000;
}