<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<loader *ngIf="userService.isLoading"></loader>

<ion-content [fullscreen]="true">

  <div class="container">
    <google-map #map id="map" width="100%" [center]="googleMapsService.mapCenter" [zoom]="googleMapsService.zoom"
      [options]="googleMapsService.mapOptions">
      <map-marker [position]="googleMapsService.position.coords" [icon]="googleMapsService.position.icon"
        [title]="googleMapsService.position.title" [options]="googleMapsService.markerOptions"></map-marker>

      <map-marker *ngFor="let perizia of periziaService.perizie" [position]="perizia.coords" [icon]="perizia.icon"
        [title]="perizia.description" [options]="googleMapsService.markerOptions">
      </map-marker>
    </google-map>
    <br>
    <ion-fab horizontal="center">
      <ion-fab-button (click)="googleMapsService.getCurrentLocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <br>
    <br>
    <hr class="divider">

    <perizie-table></perizie-table>

    <travel-modes></travel-modes>

  </div>

</ion-content>