<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<loader *ngIf="userService.isLoading"></loader>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-card>
      <google-map #map id="map" width="100%" [center]="googleMapsService.mapCenter" [zoom]="googleMapsService.zoom"
        [options]="googleMapsService.mapOptions">
        <map-marker *ngFor="let perizia of periziaService.perizie" [position]="perizia.coords"
          [title]="perizia.description" [options]="googleMapsService.markerOptions"
          (mapClick)="periziaService.editModal(perizia)">
        </map-marker>
      </google-map>
    </ion-card>
    <br>
    <ion-fab horizontal="center">
      <ion-fab-button (click)="googleMapsService.getCurrentLocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <br>
    <br>
    <hr class="divider">

    <perizie-table></perizie-table>

    <hr class="divider">

    <travel-modes></travel-modes>

  </div>

</ion-content>