<h1 class="text-center p-3">Dashboard Amministratore</h1>

<div class="container p-1">
    <google-map height="450px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)">
        <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>
    </google-map>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Perizia</th>
                <th>Data</th>
                <th>Oggetto</th>
                <th>Valutazione</th>
                <th>Visualizza Dettagli</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2024-03-14</td>
                <td>Casa</td>
                <td>€150,000</td>
                <td><a href="#" class="btn btn-primary">Dettagli</a></td>
            </tr>
        </tbody>
    </table>
</div>