<h1 class="text-center pt-3">Dashboard Amministratore</h1>

<div class="m-3">
    <google-map height="450px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)">
        <map-marker *ngFor="let marker of homeService.perizie; index as i" [position]="marker.coords"
            [icon]="marker.icon" [title]="marker.description" (mapClick)="openInfo(marker)" [options]="markerOptions">
        </map-marker>
    </google-map>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>ID Perizia</th>
                <th>Operatore</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Oggetto</th>
                <th>Dettagli</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let perizia of homeService.perizie">
                <td>{{perizia._id}}</td>
                <td>{{perizia.operator}}</td>
                <td>{{perizia.date}}</td>
                <td>{{perizia.time}}</td>
                <td>{{perizia.description}}</td>
                <td><button class="btn btn-primary" href="#" (click)="openInfo(perizia)">Dettagli</button></td>
            </tr>
        </tbody>
    </table>
</div>