<h1 class="text-center p-3">Dashboard Amministratore</h1>

<!--<div class="container">
    <a class="btn btn-success" [routerLink]="['/user/new']">AGGIUNGI UTENTE <i class="bi bi-plus"></i> </a>
    <a class="btn btn-primary" [routerLink]="['/users']"> LISTA UTENTI </a>
</div>-->

<div class="container p-1">
    <google-map height="450px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)">
        <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title"
            (mapClick)="openInfo(markerElem)">
            <map-info-window #infoWindow> {{ marker.info }} </map-info-window>
        </map-marker>
    </google-map>
</div>

<div class="container text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Perizia</th>
                <th>Data</th>
                <th>Oggetto</th>
                <th>Visualizza Dettagli</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let perizia of homeService.perizie">
                <td>{{perizia._id}}</td>
                <td>{{perizia.date}}</td>
                <td>{{perizia.description}}</td>
                <td><a href="#">Dettagli</a></td>
            </tr>
        </tbody>
    </table>
</div>