<h1 class="text-center pt-4">Dashboard Amministratore</h1>

<div class="m-4">
    <google-map #map id="map" height="800px" width="100%" [center]="googleMapsService.mapCenter"
        [zoom]="googleMapsService.zoom" [options]="googleMapsService.mapOptions">
        <map-marker *ngFor="let perizia of periziaService.perizie" [position]="perizia.coords" [icon]="perizia.icon"
            [title]="perizia.description" [options]="googleMapsService.markerOptions"
            (mapDblclick)="periziaService.editModal(perizia)"
            (mapClick)="onMarkerClick(perizia.coords, $event)">
        </map-marker>
    </google-map>

    <hr class="divider">

    <perizie-table></perizie-table>

    <travel-modes></travel-modes>

</div>

<div class="row mt-3">
    <div class="col-md-12">

    </div>
</div>