<h1 class="text-center pt-4">Dashboard Amministratore</h1>

<div class="m-4">
    <google-map #map id="map" height="800px" width="100%" [center]="googleMapsService.mapCenter"
        [zoom]="googleMapsService.zoom">
        <map-marker *ngFor="let marker of periziaService.perizie" [position]="marker.coords" [icon]="marker.icon"
            [title]="marker.description" [options]="googleMapsService.markerOptions"
            (mapDblclick)="periziaService.editModal(marker)"
            (mapClick)="googleMapsService.getDirections(map, marker.coords, $event)">
        </map-marker>
    </google-map>

    <div class="button-container">
        <button class="button">
            <i class="icon bi bi-info"></i>
        </button>

        <button class="button">
            <i class="icon bi bi-compass"></i>
        </button>
    </div>

    <perizie-table></perizie-table>

</div>

<div class="row mt-3">
    <div class="col-md-12">

    </div>
</div>