<h1 class="text-center pt-3">Dashboard Amministratore</h1>

<div class="row m-1">
    <div class="col-md-7">
        <google-map height="600px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)">
            <map-marker *ngFor="let marker of periziaService.perizie; index as i" [position]="marker.coords"
                [icon]="marker.icon" [title]="marker.description" (mapClick)="openInfo(marker)"
                [options]="markerOptions">
            </map-marker>
        </google-map>
    </div>
    <div class="col-md-5">
        <div class="m-1">

            <!--FILTERS-->
            <div class="row">
                <div class="col-md-2 align-self-center">
                    <label for="operatorFilter">Operatore:</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="operatorFilter" [(ngModel)]="selectedOperator"
                        (change)="filterByOperator()">
                        <option value="all">Tutti</option>
                        <option *ngFor="let operator of periziaService.operators" value="{{operator._id}}">
                            {{operator.username}}</option>
                    </select>
                </div>
            </div>

            <!--TABLE-->
            <div class="table-responsive mt-3">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Operatore</th>
                            <th>Data</th>
                            <th>Oggetto</th>
                            <th>Dettagli</th>
                            <th>Modifica</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let perizia of periziaService.perizie">
                            <td [ngClass]="{deleted: perizia.operator.username=='Utente eliminato'}">
                                {{perizia.operator.username}}</td>
                            <td>{{perizia.date}}</td>
                            <td>{{perizia.description}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="openInfo(perizia)">Dettagli</button>
                            </td>
                            <td>
                                <button class="btn btn-warning" (click)="editPerizia(perizia)">Modifica</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">

    </div>
</div>