<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Password dimenticata</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container>
    <div class="form-container">
      <div class="logo-container">
        Password dimenticata
      </div>

      <div class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Inserisci la tua email" required=""
            [(ngModel)]="email">
        </div>

        <button class="form-submit-btn" (click)="sendMail()">Invia email</button>
      </div>
    </div>
  </ng-container>
  
  <div class="container">
    <ion-button routerLink="/home"><i class="fa fa-home"></i></ion-button>
  </div>

</ion-content>