<div class="form container">
  <p class="title text-center">Cambia password</p>
  <label>
    <input class="input" type="password" placeholder="" required="" [(ngModel)]="oldPassword">
    <span>Vecchia password
    </span>
  </label>

  <label>
    <input class="input" type="password" placeholder="" required="" [(ngModel)]="newPassword">
    <span>Nuova password</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" [(ngModel)]="confirmPassword">
    <span>Conferma nuova password</span>
  </label>
  <button class="btn btn-primary" (click)="changePassword()">Conferma</button>

  <hr class="divider">

  <button class="btn btn-primary" [routerLink]="['/']">
    <i class="fa fa-home"></i>
  </button>

</div>