<loader *ngIf="!roleService.roles || roleService.isLoading"></loader>
<div class="container text-center mt-5">

    <h1 class="mb-4">Lista Ruoli</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roleService.roles">
                <td>{{role.name}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editRole(role)">Modifica</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteRole(role)"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
            <tr *ngIf="!roleService.roles">
                <td colspan="3" class="text-muted">Nessun ruolo trovato</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="addRole()">AGGIUNGI RUOLO</button>
</div>