<loader *ngIf="!roleService.roles || roleService.isLoading"></loader>
<div class="container text-center mt-5">

    <h2 class="mb-4">Lista Ruoli</h2>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Accesso a Web App</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roleService.roles">
                <td>{{role.name}}</td>
                <td>
                    <mat-slide-toggle color="blue" [aria-label]="role.canAccessToWebApp" (change)="updateAccess(role)"
                        [checked]="role.canAccessToWebApp">
                    </mat-slide-toggle>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="updateName(role)">Modifica</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="roleService.delete(role)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!roleService.roles">
                <td colspan="3" class="text-muted">Nessun ruolo trovato</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" (click)="roleService.add()">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>