<loader *ngIf="userService.isLoading"></loader>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="container card shadow">
                <div class="card-body" *ngIf="userService.selectedUser">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ userService.selectedUser.avatar }}" class="rounded-circle mr-3" alt="Avatar"
                            style="width: 120px; height: 120px;">
                        <h2 class="card-title mb-0">{{ userService.selectedUser.username }}</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Name:</strong> {{ userService.selectedUser.name }}</p>
                            <p><strong>Surname:</strong> {{ userService.selectedUser.surname }}</p>
                            <p><strong>Email:</strong> {{ userService.selectedUser.email }}</p>
                            <p><strong>Age:</strong> {{ userService.selectedUser.age }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Role:</strong> {{ userService.selectedUser.role.name }}</p>
                            <p><strong>Gender:</strong> {{ userService.selectedUser.gender == "m" ? "Male" : "Female" }}
                            </p>
                            <p><strong>City:</strong> {{ userService.selectedUser.city }}</p>
                            <p><strong>Created at:</strong><br> {{ userService.selectedUser.createdAt.date }} at
                                {{userService.selectedUser.createdAt.time}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center justify-content-center">
                        <button class="btn btn-primary mr-2" (click)="edit()">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" (click)="delete()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <br>
                    <div *ngIf="userService.selectedUser._id==utils.getUserFromCache()._id" class="row text-center justify-content-center">
                        <button class="btn btn-primary" [routerLink]="['/change-password']">
                            Cambia password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>